{
  "extends": [
    "eslint-config-mostaza-react",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
