{
  "extends": [
    "react-app"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "trailingComma": true, 
      "singleQuote": true
    }]
  }
}
